@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;700&display=swap');

:root {
    --grey-color: =#9CA3AF;
    --orange-color: rgb(255, 120, 9);
}

body {
    font-family: sans-serif;
}

.navigation {
    background-color: rgb(218, 214, 214);
    width: 100%;
    min-height: 4.5rem;

}

.navigation .nav-brand {
    font-weight: bold;
    font-size: 2rem;
}

.navigation .nav-pills {
    text-align: right;

}

.brand-name {
    color: black;
    text-align: left;

}

.container {
    padding-left: 1rem;
    padding-right: 1rem;
}


.list-item-non-bullet {
    list-style: none;
    text-align: right;
    padding-right: 1rem;
}

.inline {
    display: inline;
    padding: 1rem;
   

}

.link {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
}

.hero {
    padding: 2rem;
}

.hero .hero-img {
    display: block;
    max-width: 450px;
    margin: auto;
    border-radius: .3rem;
    box-shadow: 25px 25px 30px rgb(151, 146, 146);
}

.hero .hero-heading {
    text-align: center;
    font-size: 2rem;
    color: rgb(70, 68, 68);

}

p {
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
}

.section {
    padding: 2rem;
}

.section .section-heading {
    text-align: center;
    font-size: 2rem;
}

.section .section-img{
    display:block;
    margin: auto;
    min-width: 450px;
    border-radius: 0.7rem;
    box-shadow:25px 25px 30px rgb(151, 146, 146);
}

.list-item-non-bullet-card{
    list-style: none;
    text-align: center;
}

.card-container{
    height: 500px;
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
}

.card{
    margin: auto;
    width: 20rem;
    min-width: 25%;
}

.card1{
    background-color: orangered;
    width: 50%;
    height: 50%;
    margin: 2rem;
}

.card2{
    background-color: green;
    width: 50%;
    height: 50%;
    margin: 2rem;
}

.card3{
    background-color: blue;
    width: 50%;
    height: 50%;
    margin: 2rem;
    
}